<!-- Styles block -->
<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">

<div class="nav-wrapper bg-dark d-flex justify-content-between">
  <div>
    <ul class="d-inline-flex list-unstyled py-3 px-5">
      <li><a class="navbar-brand text-secondary" style="font-size: 2rem" href="/"> PitchBuzz </a></li> 
       {% if current_user.is_authenticated %}
           <li class="nav-item">
               <a class="nav-link" style="font-size:18px" href="{{url_for('main.new_pitch')}}">New Pitch</a>
           </li>
           {% endif %}
     </ul>
  </div>

  <div>
    <ul class="d-inline-flex list-unstyled py-4 px-5">
      {% if current_user.is_authenticated %}
      <!-- <li style="color:white;padding:15px;">{#{{current_user.username}}#}</li> -->
      <li><a href="{{url_for('main.profile',uname=current_user.username)}}" class="px-5"  style="font-size:18px">Profile</a></li>
      <li><a href="{{url_for('auth.logout')}}" style="font-size:18px">Sign out</a></li>
      {% else %}
      <li><a href="{{url_for('auth.login')}}" style="font-size:18px">Sign in</a></li>
      {%endif%}
    </ul>
  </div>
</div>
